<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.EmployeeSyDao">
	<!-- 查询员工信息 -->
	<select id="findEmpSyList" resultType="com.cy.pj.sys.vo.EmployeeSyVo">
		select infos.empName as ename,jobs.employeeId,
		dept.name as deptName,jobs.empJoinTime as
		joinTime,infos.empCard,
		infos.empPhone from employee_jobinfo as jobs left join
		employee_info infos on infos.id=jobs.employeeId left join
		sys_depts dept on dept.id
		= jobs.empDeptId
		where infos.empCmpId=#{userId} and jobs.empJobType =#{empJobType}
		and jobs.empStats in(0,1)
		limit #{startIndex},#{pageSize} 
		</select>
	
	<select id="getRowCount3" resultType="int">
		select count(*) from employee_jobinfo a left join
		employee_info b on a.employeeId=b.id where a.empJobType =#{empJobType}
		and empCmpId=#{userId} and a.empStats in(0,1)
	</select>

	<!-- 转正处理 -->
	<update id="updateEmpSyStats">
		update employee_jobinfo
		set empJobType='0'
		where employeeId=#{employeeId}
	</update>
</mapper>




