<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 1.在映射文件中添加SysMenuMapper.xml映射文件 -->

<mapper namespace="com.cy.pj.sys.dao.SysMenuDao">
	<!-- <cache eviction="LRU" flushInterval="60000" size="512"
		readOnly="true" />使用mybatis中的二级缓存 -->
	<!-- 属性可以被设置为 true 或 false。只读缓存将对所有调用者返回同一个实例。 因此这些对象都不能被修改，这可以极大的提高性能。可写的缓存将通过序列化来返回一个缓存对象的拷贝。这会比较慢，但是比较安全。所以默认值是 
		false。 -->
	<select id="findObjects" resultType="map"><!-- 存储到Hashmap -->
		select c.*,(select p.name from sys_menus p where c.parentId=p.id)
		parentName from sys_menus c
	</select>
	
	<!-- 获取子菜单数据 -->
	<select id="getChildCount" parameterType="int" resultType="int">
		select count(*) from sys_menus where parentId=#{id}
	</select>
	
	<!-- 删除菜单信息 -->
	<update id="deleteObject">
		delete from sys_menus where id=#{id}
	</update>

	<!-- 查询上级菜单信息 -->
	<select id="findZtreeMenuNodes"
		resultType="com.cy.pj.common.vo.Node">
		select id,name,parentId from sys_menus 
	</select>

	<!-- 菜单添加数据 -->
	<insert id="insertObject"
		parameterType="com.cy.pj.sys.entity.SysMenu">
		insert into sys_menus
		(name,url,type,sort,note,parentId,permission,createdTime,modifiedTime,createdUser,modifiedUser)
		values
		(#{name},#{url},#{type},#{sort},#{note},#{parentId},#{permission},now(),now(),#{createdUser},#{modifiedUser})
	</insert>

	<!-- 修改更新菜单数据 -->
	<update id="updateObject"
		parameterType="com.cy.pj.sys.entity.SysMenu">
		update sys_menus
		set
		name=#{name},type=#{type},sort=#{sort},url=#{url},parentId=#{parentId},permission=#{permission},
		modifiedUser=#{modifiedUser},modifiedTime=now()
		where id=#{id}
	</update>


	<!-- 基于菜单id查找权限标识的方法 -->
	<select id="findPermissions" resultType="string">
		select permission from sys_menus 
		<where>
			<foreach collection="menuIds" separator="or" item="item">
				id=#{item}
			</foreach>
		</where>
	</select>
	
	
	
 <select id="findChildMenus"
           resultType="com.cy.pj.sys.vo.SysUserMenuVo">
          select id,name,url
          from sys_menus
          where parentId=#{id} and type=1
   </select>
   <resultMap id="sysUserMenuVo"
              type="com.cy.pj.sys.vo.SysUserMenuVo">
         <id property="id" column="id"/>
         <collection column="id"
                     property="childMenus"
                     select="findChildMenus">
         </collection>
   </resultMap>
   <select id="findUserMenus"
           resultMap="sysUserMenuVo">
          select id,name,url
          from sys_menus
          where parentId is null
   </select>



</mapper>