<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">员工管理</h3>

			</div>
			<!-- /.box-header -->
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>姓名</th>
							<th>性别</th>
							<th>所属部门</th>
							<th>身份证号</th>
							<th>电话</th>
							<th>入职时间</th>
							<th>离职时间</th>
							<th>离职类型</th>
							<th>离职原因</th>
						</tr>
					</thead>
					<tbody id="tbodyId"></tbody>
				</table>
			</div>
			<div id="pageId" class="box-footer clearfix">
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
</div>
<script type="text/javascript">

	$(function(){
		const pageUrl="doPageUI";
		$("#pageId").load(pageUrl,doGetObjects)
		//$(".input-group-btn").on("click",".btn-search",doQueryObjects)
	})
	
	function doGetObjects(){
		//初始化thead中checkbox的信息 
			$("#checkAll").prop("checked",false);
		//1.请求的参数
		var pageCurrent=$("#pageId").data("pageCurrent");
		//pageCurrent参数在没有赋值的情况下，默认值应该为1.
		if(!pageCurrent) pageCurrent=1;
		var leaveStats = 1;
		
		var params={"pageCurrent":pageCurrent,
								"leaveStats": leaveStats};//"pageCurrent=1"
		//获取查询参数"用户输入的名字"
		//var username=$("#searchNameId").val();
		
		//if(username) params.username=username;
		//2.请求的url
		
		var url="emp/doFindLeaveEmpList";
		//3.发送异步请求并处理请求结果 
		//getJSON为jquery中的一个ajax函数 
		//getJSON基于ajax的xhr对象向服务端发异步请求
		//getJSON函数将服务端的响应结果转化为JSON格式
		//getJSON函数最后会将响应结果传递给callback函数 
		$.getJSON(url,params,doHandleResponseResult)	
	}
	
	function doHandleResponseResult(result){
		console.log("result",result);
			//debugger
		if(result.state==1){
			//1.初始化页面上的日志记录
			doSetTableBodyRows(result.data.records);
			//2.初始化分页页面上的分页信息 
			doSetPagination(result.data);
		}else{
				doSetErrorMsg(result.message);
				//1.获取tbody对象并清空内容	
		}	
	}
	
	
	
	/* //设置错误信息 
	function doSetErrorMsg(msg){
		//初始化tbody内容 
		var tBody=$("#tbodyId");
		tBody.empty();//清空内容 
		var tr=$("<tr></tr>");
		var td=$("<td></td>");
		td.prop("colspan",7);
		td.html(msg);
		tr.append(td);
		tBody.append(tr);
		//初始化page位置内容 
		doInitPagination();
	} */
	function doInitPagination(){
		$(".rowCount").html("总记录数(0)")
		$(".pageCount").html("总页数(1)")
		$(".pageCurrent").html("当前页(1)")
	}
	
	
	function doSetTableBodyRows(records){
		//1.获取tbody对象并清空内容
		var tBody=$("#tbodyId");
		tBody.empty();//清空内容 
		//2迭代records记录并将其追加到tbody中 
		for(var i=0;i<records.length;i++){
			//2.1创建tr对象
			var tr=$("<tr></tr>");
			//2.2创建多个td对象 
			var tds=doCreatedTds(records[i]);
			//2.3将td追加到tr中 
			tr.append(tds);
			//2.4将tr追加到tBody中 
			tBody.append(tr);
		}
	}
		
		function doCreatedTds(row){
			var tds=
			 "<td>"+row.empName+"</td>"+
			 "<td>"+row.sex+"</td>"+
		     "<td>"+row.name+"</td>"+
		     "<td>"+row.empCard+"</td>"+
		     "<td>"+row.empPhone+"</td>"+
		     "<td>"+new Date(row.empJoinTime).toLocaleString()+"</td>"+
		     "<td>"+new Date(row.leaveTime).toLocaleString()+"</td>"+
		     "<td>"+replaceStat(row.leaveType)+"</td>"+
		     "<td>"+row.leaveReason+"</td>";
		    // "<td><button type='button' >"+"</button></td>";
			return tds;
		}
		//替换员工状态
		function replaceStat(empStats){
			if(empStats==0){
				return "自主离职";
			}else if(empStats==1){
				return "开除";
			}
		}
		
	/* 	//处理查询按钮事件
		function doQueryObjects(){
			 //为什么要在此位置初始化pageCurrent的值为1?
			   //数据查询时页码的初始位置也应该是第一页
			   $("#pageId").data("pageCurrent",1);
			   //为什么要调用doGetObjects函数？
			   //重用js代码，简化jS代码编写。
				doGetObjects();
		} */
</script>